.navbar{
  background:var(--bluegradient) !important;
  color: white !important;
  height: 50px;
  z-index: 99;
  
}

.navbar-nav{
  background: var(--bluegradient);
  padding-bottom: 20px;
  margin-top: 15px;
  width: 100%;
}
.navbar a{
  color: white;
  font-family: roboto;
  
}
.navbar-brand{
  font-family: Permanent Marker !important;
}

.navbar-toggler-icon{
  color: white !important;
}

.nav-item{
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-item:hover{
 background: rgba(255,255,255, 0.8);
 color: white !important;

 
}

.nav-infobox{
  float: right;
  padding: 10px;
  padding-top: 2px;
  margin-right: 50px;
  height: 30px; 
  min-width: 190px;
  /* background: linear-gradient(to right, #232526, #414345); */
  
  color: rgba(0,0,0, 0.3);
  font-family: roboto;
  font-weight: 300;
  border-radius: 5px;
  text-align:left;
}