.navbar{
  background:transparent !important;
  color: white !important;
  height: 50px;
  z-index: 99;
  
}

.navbar-nav{
  background:transparent;
  
  width: 100%;
}

@media only screen and (max-width: 600px) {
    .navbar-nav {
        background: var(--highlight);
        border-radius: 5px;
    }
}
.navbar a{
  color: white;
  font-family: roboto;

  
}
.navbar-brand{
  font-family: Lobster !important;
  font-size: 2rem;
}

.navbar-toggler-icon{
  color: white !important;
}

.nav-item{
  height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 70px;
  margin-top: 10px;
  border-radius: 5px;
}
.nav-item:hover{
 background:var(--highlight);
 color: white !important;

 
}

@media only screen and (max-width: 600px) {
    .nav-item:hover{
 background:white;
 color: var(--highlight) !important;
  }

  .nav-item{
  height: 40px;
  margin-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
    border-bottom: 1px solid rgba(255,255,255, 0.15);
    border-radius: 0px;
  

}

}



.nav-infobox{
  float: right;
  padding: 10px;
  padding-top: 2px;
  margin-right: 50px;
  height: 30px; 
  min-width: 190px;
  /* background: linear-gradient(to right, #232526, #414345); */
  
  color: rgba(0,0,0, 0.3);
  font-family: roboto;
  font-weight: 300;
  border-radius: 5px;
  text-align:left;
}