
.loggedoutwrapper{
    box-shadow: var(--shadow1);
    margin-top: 100px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    height: 700px;
}


.loggedoutheading {
    float: left;
    height: 700px;
    
    background-size: cover;
    background-position: center;
    
    
}



.loggedoutlogin{
    display: inline-block;
    padding: 0px;
    
}

.loggedoutheading h3{
    color: white;
    font-family: Lobster;
    font-size: 3rem;
    margin-top: 150px;
}
.loggedoutheading p{
    color: rgba(255,255,255, 0.8);
}

.loggedout{
    
    margin-left: auto;
    margin-right: auto;
    font-family: roboto;
}

.loggoutbuttonsignup{
    display: inline-block;
    width: 50%;
    background: white;
    
    padding-top: 10px;
}
.loggoutbuttonsignup:focus{
    box-shadow: var(--shadow1);
}

.loggoutbuttonsignin{
    display: inline-block;
    background: var(--primaryred);
    width: 50%;
    
    padding-top: 10px;
    color: white;
}

.signinput {
    margin-left: auto;
    margin-right: auto;
    
    display: block;
    /* box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23); */
    color: black;
    border-bottom: 2px solid red;
    background: white;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px;
    margin-top: 10px;
    border-radius: 0px;
    
}

.signinput::placeholder{
    color: black;
    font-weight: 500;
}



.signinputbtn{
    margin-top: 50px;
    width: 150px;
    
    border: none;
    background: var(--primaryred);
    color: white;
    
    border-radius: 5px;
    
}

.signplaceholder{
    height: 25px;
}