.userpostrow{
    margin-left: auto;
    margin-right: auto;
}
.showpostcontainer{
    padding-left: 0px;
    padding-right: 0px;
}
.actualpost{
    
   
    margin-left:auto;
    margin-right:auto;
    margin-top: 40px;
    min-height: 200px;
   
    overflow: hidden;
    
    background:white;
    padding: 0px;
    box-sizing: border-box;
    color: #2c3539;
    font-family:roboto;
    
    font-weight: 600;
    font-size: 1.4rem;
    
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 200ms;
}

.actualpost:hover {
    transform: scale(1.05);
    background: white;
    border-top: 10px solid var(--bluegradient);
    
}

.actualpostheader{
    height: 30px;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    /* background: var(--bluegradient); */
    background:#FF3366;
     /* background: linear-gradient(to right, #FF3366, rgb(238, 39, 39)); */
    
}

.postheaderleft{
    float: left;
    
}

.postheaderleft p{
    display: inline-block;
    margin-top: 2px;
    font-size: 0.8rem;
}
.userimageplaceholder{
    background:white;
    color:black;
    display: inline-block;
    height: 30px;
    width:30px;
    margin-right: 10px;
    border-radius: 50%;
    font-weight: 500;
    font-family: roboto;
}
.postheaderright{
    float: right;
    font-size: 0.8rem;
}

.postheaderright p{
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
#votedbylength{
    display: inline-block;
    color: rgba(255,255,255, 0.6);
}

.posttext{
    clear: both;
    text-align: left;
    font-size: 1.6rem;
    max-height: 350px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    padding-left: 5px;
    padding-right: 20px;
    color: black;
    font-family: roboto;
    font-weight: 700;
     
    
}

.postbuttonsresult{
    margin-top: 30px;
    
}

.showbutton button{
    background:transparent ;
    border:none;
    
    /* border-right: 5px solid #f9d423; */
   background:var(--highlight);
   
    
    font-weight: 500;
    padding: 2px;
    color:white ;
    display: inline-block;
    width: 100px;
    font-size: 0.9rem;
    margin: 10px;
    
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 200ms;
}

.showbutton:hover button {
    box-shadow: none;
    
    color: white;
    background: var(--redgradient);
    
    /* box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), inset 0 3px 6px rgba(0,0,0,0.23); */
}
 

.buttonyes:hover button{
    background: var(--greengradient);
}

.showbutton{
    display: inline-block;

}

